@media screen and (max-width:1005px){
    .menu {
        display: none;
    }
    .navbar {
        position: relative;
    }
    .logo {
        margin: 0;
        text-align: center;
    }
    .header {
        padding-top: 20px;
    }
    .headline {
        flex: 100%;
        margin: 5%;
        text-align: center;
    }
    .headline p{
        text-align: center;
    }
    .img-headline {
        flex: 100%;
        margin: 5%;
        text-align: center;
    }
    .zap {
        display: none;
    }
    .card {
        flex: 100%;
    }
}

@media screen and (max-width:1155px) {
    .img-headline {
        flex: 100%;
        margin: 5%;
        text-align: center;
    }
    .headline {
        flex: 100%;
        margin: 0;
        text-align: center;
    }
    .headline p {
        text-align: center;
        margin: 10px 10% 30px 10%;
    }
}

@media screen and (max-width:470px){
    .headeline {
        font-size: 10px;
        text-align: center;
        margin: 0 5% 0 5%;
    }
    .card {
        flex: 100%;
        width: 100%;
    }
    .headeline p{
        font-size: 12px;
    }
}